body{
    margin: 0 auto;
    background-color: #393939;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #fff; 
}

input{
    outline: none;
}

.second-color{
    color: #71d316;
}

.body-color{
    color: #393939;
}

.bg-color{
    background-color: #393939;
}

.second-bg-color{
    background-color: #71d316;;
}

.link{
    color: #16c0d3;
}