body{
    margin: 0 auto;
    background-color: #393939;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #fff; 
}

input{
    outline: none;
}

.second-color{
    color: #16d384;
}

.body-color{
    color: #393939;
}

.bg-color{
    background-color: #393939;
}

.second-bg-color{
    background-color:#16d384;;
}

.link{
    color: #16c0d3;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.link:focus{
    outline: none;
    border: 2px solid #16d384;
    padding: 0.2rem;
    transition: 500ms;
    border-radius: 0.2rem;
}